ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(217, 217, 217, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .active {
    text-decoration: underline orange;
  }