ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(217, 217, 217, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:not(:has(img)):hover {
    background-color: rgb(235, 235, 235);
}

.active {
    text-decoration: underline orange;
}

li img {
    height: 24px;
    width: auto;
    padding-left: 0px;
    pointer-events: none;
}



.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
}

.wrapper{
    width: 420px;
    background: #d9d9d9;
    color: #ffff;
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.wrapper img{
    max-width: 400px;
    max-height:100px ;
    border-radius: 10px;
   margin-left: 80px;
    
}

.blokje{
    background-color: #AEAEAE;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 50px;
    border-radius: 15px;
}

.text{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #EC830B;
    border: none;
    outline: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
}