* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 80px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  font-size: 27px;
}

@media screen and (max-width: 617px) {
  .headerInner {
    flex-direction: column;
    justify-content: center;
  }

  .headerInner .profielTitelBox {
    margin-bottom: 10px;
  }

  .headerInner .zoekProfielBox input {
    padding: 10px 0;
  }
}

.headerInner .profielTitelBox {
  background-color: #ec830b;
  border-radius: 5px;
  padding: 5px 30px;
}

.headerInner .zoekProfielBox {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding-left: 8px;
  border-radius: 4px;
}

.headerInner .zoekProfielBox img {
  max-width: 20px;
  position: absolute;
}

.headerInner .zoekProfielBox input {
  height: 100%;
  border: none;
  margin-left: 27px;
  margin-right: 10px;
  outline: none;
  border-radius: 4px;
  min-width: 200px;
  background-color: #d9d9d9;
}

.profielenLijst {
  display: flex;
  background-color: #d9d9d9;
  width: 100%;
  margin: 35px 0;
  border-radius: 8px;
  padding: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.profiel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px;
}

.profiel p {
  margin-top: 10px;
  padding: 10px;
  background-color: #ec830b;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  border-radius: 10px;
}

.profielenLijst .profielCirkel {
  background-color: white;
  padding: 100px;
  border-radius: 50%;
}
